html {
  height: 100vh;
}

body {
  background: #000;
}


div.text {
  width: 50%;
  margin: auto;
  margin-bottom: 10rem;
  color: white;
  font-size: 2rem;
}


#sequence-container {
  width: 50vw;
  height: 28vw;
  margin: auto;
}
